.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container section {
  padding: 0px 22px;
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container section > img {
  width: 60%;
  min-width: 720px;
  margin-bottom: 80px;
}

.splash {
  height: 91vh;
  justify-content: center;
}

.about {
  height: 81vh;
  background-color: #388;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
}
.about article {
  width: 100%;
  max-width: 100%;
  background-color: #388;
}

.about article p {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  
}

.footer {
  padding: 50px 0px;
  display: flex;
  background: white;
  background: #131415;
  justify-content: center;
  color:  rgb(220, 220, 220);
  border-top: 1px solid rgb(220, 220, 220);
}

.footer p {
  margin: 0;
  font-size: 14px;
}