.footer {
  padding: 50px 0px;
  display: flex;
  background: white;
  background: #131415;
  justify-content: center;
  color:  rgb(220, 220, 220);
  border-top: 1px solid rgb(220, 220, 220);
}

.footer p {
  margin: 0;
  font-size: 14px;
}